%header.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      = link_to "BestYear", root_path, id: "logo"
      %nav
        %ul.nav.pull-right
          %li= link_to "Home",    root_path
          %li= link_to "Plan",    plan_path
          %li= link_to "Rentals", offers_path